/*
 * =require_self
 */


//
// global styles

* { box-sizing: border-box; }
a[role=button] { cursor: pointer; }


//
// base typography

html { font-size: 10px; }
body {
  font-family: 'Inconsolata';
  font-size: 14px;
  font-size: 1.4rem;
}


//
// application styles

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#app { background: white; }

#help-button { position: absolute; top: 1rem; right: 1rem; }


//
// text boxes

.tb {
  position: absolute;
  padding: 1.3rem;
  outline: none;
  color: #334873;
  transition: background-color 0.3s ease-out;

  &:hover { box-shadow: 0px 0px 1px 1px #e3e3f6; }
  &:focus, &:hover:focus { box-shadow: none; }
  &.saved {
    background: rgba(160, 255, 192, 0.3) /*#a0ffc0*/;
    transition-duration: 0s;
  }
}

//
// modals

#app.dialog-showing {
  -webkit-filter: blur(1px) brightness(98%);
  transition: -webkit-filter 0.1s;
}

.modal {
  display: none;
  position: fixed;
  top: 25%; left: 25%; right: 25%; bottom: 25%;
  padding: 3rem;

  opacity: 0;
  transform: scale(1.05);
  transition: opacity 0.1s ease 0s, transform 0.1s ease 0s;

  box-shadow: 0 0 4px 4px #e3e3f6;
  background: white;

  &.in { opacity: 1; transform: scale(1); }
  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
  }
}


//
// utility classes

dl.inline dt,
dl.inline dd { display: block; float: left; }
dl.inline dt { clear: both; width: 30%; font-weight: bold; }
